@model MotoStore.ViewModels.Layout.LayoutViewModel;
<form
    asp-action="Register"
    asp-controller="Account"
    method="post"
    enctype="multipart/form-data"
    asp-antiforgery="true"
    class="row g-3 col-md-9 mx-auto">
    <div class="form-floating">
        <input type="text" asp-for="@Model.RegisterViewModel.PhoneNumber" class="form-control" id="inputPhone">
        <label for="inputPhone" class="form-label" asp-for="@Model.RegisterViewModel.PhoneNumber"></label>
        <span class="text-warning" asp-validation-for="@Model.RegisterViewModel.PhoneNumber"></span>
    </div>
    <div class="form-floating">
        <input type="email" class="form-control" id="floatingInputGrid" asp-for="@Model.RegisterViewModel.Email">
        <label for="floatingInputGrid" asp-for="@Model.RegisterViewModel.Email"></label>
        <span class="text-warning" asp-validation-for="@Model.RegisterViewModel.Email"></span>
    </div>
    <div class="form-floating">
        <input type="text" asp-for="@Model.RegisterViewModel.UserName" class="form-control" id="inputUserName">
        <label for="inputUserName" class="form-label" asp-for="@Model.RegisterViewModel.UserName"></label>
        <span class="text-warning" asp-validation-for="@Model.RegisterViewModel.UserName"></span>
        <div asp-validation-summary="ModelOnly" class="text-warning"></div>
        @Html.ValidationMessageFor(model => model.RegisterViewModel.UserName, null, new { style = "color:red" })
    </div>
    <div class="form-floating">
        <input type="text" asp-for="@Model.RegisterViewModel.Address" class="form-control" id="inputAddress">
        <label for="inputAddress" class="form-label" asp-for="@Model.RegisterViewModel.Address"></label>
        <span class="text-warning" asp-validation-for="@Model.RegisterViewModel.Address"></span>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" asp-for="@Model.RegisterViewModel.City" id="inputCity">
        <label for="inputCity" class="form-label" asp-for="@Model.RegisterViewModel.City"></label>
        <span class="text-warning" asp-validation-for="@Model.RegisterViewModel.City"></span>
    </div>
    <div class="form-floating">
        <input type="password" asp-for="@Model.RegisterViewModel.Password" class="form-control" id="inputPassword">
        <label for="inputPassword" class="form-label" asp-for="@Model.RegisterViewModel.Password"></label>
        <span class="text-warning" asp-validation-for="@Model.RegisterViewModel.Password"></span>
    </div>
    <div class="form-floating">
        <input type="password" asp-for="@Model.RegisterViewModel.PasswordConfirm" class="form-control" id="inputConfPassword">
        <label for="inputConfPassword" class="form-label" asp-for="@Model.RegisterViewModel.PasswordConfirm"></label>
        <span class="text-warning" asp-validation-for="@Model.RegisterViewModel.PasswordConfirm"></span>
    </div>
    <div class="form-floating my-2">
        <input type="file" asp-for="@Model.RegisterViewModel.File" class="form-control" id="inputImage">
        <label for="inputImage" class="form-label" asp-for="@Model.RegisterViewModel.File"></label>
        <span class="text-warning" asp-validation-for="@Model.RegisterViewModel.File"></span>
    </div>
    <button class="btn btn-warning w-25" type="submit">Отправить</button>
</form>
@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial");
}

