@model LayoutViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Личный кабинет</h2>
@foreach (var order in @Model.OrderViewModels)
{
    <div class="col-sm-6 mx-auto">
        <div class="card">
            <img src="~/@order.PositionInfoViewModel.PathToImage" 
                 class="card-img-top" alt="@order.PositionInfoViewModel.Model">
            <div class="card-body">
                <p>@order.PositionInfoViewModel.Manufacturer</p>
                <p>@order.PositionInfoViewModel.Model</p>
                <p>@order.PositionInfoViewModel.EngineCapacity</p>
                <p>@order.PositionInfoViewModel.NumberOfCycles</p>
                <p>@order.OrderDate</p>
            </div>
        </div>
    </div>
}